<!doctype html>
<html lang="en">
    <head>
        <title>Random String Machine</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="text-primary">Random String Machine</h1>

        <div>
            {% block content %}{% endblock content %}
        </div>
        <hr>

        <footer>
            <span>Jacob A. Torres  |  2022  |  </span>
            <span><a href="https://torresengineering.dev/">TorresEngineering.dev</a></span>
        </footer>

        <!-- Bootstrap Javascripts -->  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
