<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
       <meta name="author" content="Jacob A. Torres">
        <title>Random String Machine</title>

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="text-primary">Random String Machine</h1>
        <div class="container" style="background-color: LightGray;">
            {% block content %}{% endblock content %}
        </div>
        <hr>

        <footer class="bg-info">
            <p>&copy;2022 Jacob A. Torres | 
                <a href="https://torresengineering.dev/">TorresEngineering.dev</a>
            </p>

        </footer>

        <!-- Bootstrap Javascripts -->  
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
