{% extends "base.html" %}

{% block content %}
    <form method="post" action="http://127.0.0.1:5000/">
        <div class="form-group form-inline">
            <label for="string-number">Number of Strings</label>
            <input type="number" class="form-control"
                name="string-number" id="string-number"
                min="1" max="100" required>
        </div>

        <div class="form-group form-inline">
            <label for="string-length">String Length</label>
            <input type="number" class="form-control"
                name="string-length" id="string-length"
                min="1" max="100" required>
            </div>

        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="lowercase" id="lowercase" value="Lowercase Letters" >
            <label class="form-check-label" for="lowercase">Lowercase Letters</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="uppercase" id="uppercase" value="Uppercase Letters">
            <label class="form-check-label" for="uppercase">Uppercase Letters</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="numeric" id="numeric" value="Numeric Digits">
            <label class="form-check-label" for="numeric">Numeric Digits</label>
        </div>

        <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="special-chars" id="special-chars" value="Special Characters">
            <label class="form-check-label" for="special-chars">Special Characters</label>
        </div>

        <button type="submit" class="btn btn-primary">Get Strings!</button>
    </form>

    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}
{% endblock content %}